html {
    -webkit-text-size-adjust: 100%;
    line-height: normal;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding: 0;
}

h4, .card-title{
    font-size: 22px;
    font-weight:bold;
}

p {
    font-size: 14px;
}

header {
    font-size:40px;
    color:white;
    text-align: center;
    background-color: rgb(6, 6, 150);
    width: 100vw;
}

.class {
    font-size: 100%;
    color:
}


.container-fluid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-sm-3, .col-sm-2 {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
}
.col-sm-9 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}





